<div class="main_background image">
  <div class="main_title">
    <%= link_to '3 step recipes', recipes_path, class:"title_css" %>
  </div>
</div>
<div class="main_background image">
  <div class="main_title">
    <%= link_to '3 step recipes', recipes_path, class:"title_css" %>
  </div>
</div>
