<div class="main_background image">
  <div class="main_title">
    <%= link_to '3 step recipes', recipes_path, class:"title_css" %>
  </div>
  <div class="sub_title">
    <p>３ステップで作れる料理をシェアできるレシピ投稿サービス</p>
  </div>
</div>
<div class="main_background sub_image">
</div>
