<div class="main_background image">
  <div class="main_title">
    <%= link_to '3 step recipes', recipes_path, class:"title_css" %>
  </div>
  <div class="sub_title">
    <p>３ステップで作れる料理をシェアできるレシピ投稿サービス</p>
    <p>（タイトルをクリックしてね！）</p>
  </div>
</div>
<div class="main_background sub_image">
  <div class="main_explain">
    <p>このアプリは、『３ステップで作れる料理をシェアできるレシピ投稿サービス』です。</p>
    <p>日々の生活の中で、自炊したいけど、時間がないという人にオススメです。</p>
    <p>このアプリ内で、紹介されているレシピを参考に料理をすることができます。</p>
    <p>また、自分で他の人に紹介したいレシピを投稿し、シェアすることもできます。</p>
    <p>ぜひ、このサービスを使用し、日々の料理をより美味しく、より楽しく作りましょう！！</p>
  </div>
</div>
<div class="main_background sub_image">
  <div class="main_explain_flex">
    <div class="aaa">
      <%= image_tag "/images/20220413_ポートフォリオ、トップページ.png", size: '700x400' %>
    </div>
    <div class="bbb">
      <p>トップページでは、アプリ名の『3 step recipes』をクリックすることで、サインアップページ、ログインページ、メインページなどへ遷移できます。</p>
      <p>また、画面右上のハンバーガーメニューからも操作できます。</p>
      <p>さらに、ゲストユーザーとして、パスワードやEメールアドレスを登録しなくても、ログインすることもできます。</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="main_explain_flex">
    <div class="aaa">
      <%= image_tag "/images/20220414_ポートフォリオ、サインアップ.png", size: '700x400' %>
    </div>
    <div class="bbb">
      <p>サインアップページでは、ユーザー情報を登録する事ができます。</p>
      <p>主な登録内容は、ユーザー名、Eメールアドレス、パスワード、プロフィール画像です。</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="main_explain_flex">
    <div class="aaa">
      <%= image_tag "/images/20220414_ポートフォリオ、ログイン.png", size: '700x400' %>
    </div>
    <div class="bbb">
      <p>ログインページでは、ユーザーのEメールアドレスとパスワードを入力することでログインする事ができます。</p>
      <p>入力後は、『Log in(ログイン)』ボタンをクリックすることで、メインページへと移動することができます。</p>
    </div>
  </div>
</div>
