/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body {
  width: 100%;
  margin: 0px auto;
}

//ヘッダー
header {
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  color:aliceblue;
  width: 100%;
  height: 62px;
}

header h1 {
  width: 287px;
  height: 37px;
  padding-left: 10px;
}

//ログイン＆ユーザー登録ボタン
.login {
  position:absolute; top:20px; right:25px;
  color: black;
}

.login:hover {
  cursor: pointer;
}

//ハンバーガーメニュー
.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}

.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.nav {
  position: fixed;
  top: 3rem;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

//ユーザー新規登録画面
.signup {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

.log {
  padding-top: 90px;
}

input[type="email"],input[type="password"],input[type="text"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
}

.email,.password,.actions {
  padding-bottom: 50px;
}

.actions {
  padding-top: 50px;
}

//パスワードはお忘れですかボタン
.forgot {
  margin: 50px auto;
}

//メインページ(recipe/index.html.erb）、レシピ詳細ページ（recipe/show.html.erb）
.main_page {
  width: 100%;
  margin: 0;
  height: auto;
  background-color:#fdf5e6;
}

.main_in_page {
  margin: 0 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

//カードデザイン
.card{
  width: 288px;
  height: auto;
  margin: 0px 5px;
}

.card__imgframe{
  width: 100%;
  height: auto;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.recipe_username {
  font-size: 15px;
  margin: 10px 0px;
  color: #3399FF;
  padding: 2px 0px;
}

.recipe_edit_delete_link {
  text-align: center;
  font-size: 18px;
}

.recipe_edit,.recipe_delete {
  padding: 0px 10px;
}

.recipe_edit:hover,.recipe_delete:hover {
  background-color: #99CCFF;
}

.new_recipe {
  margin: 50px 100px;
}

.new_path_button {
  border-radius: 100vh;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer
}

.search_form {
  text-align: center;
  padding: 10px 0px;
}

.search_block {
  width: 100%;
  font-size: 20px;
  padding: 0 6px;
  color: #474747;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search_form button[type=submit] {
font-size: 22px;
color: #FFF;
background: #474747;
border: 2px solid #474747;
border-radius: 0 3px 3px 0;
cursor: pointer;
}

//recipe/newアクションページ
.recipe_new_title {
  font-size: 30px;
  margin: 18px 50px 5px;
}

.main {
  text-align: center;
  margin: 0px 140px;
  width: 1100px;
}

.main_procedure {
  padding: 18px 0px;
}

.sub_process {
  padding: 20px 0px;
}

.new_button {
  padding: 15px 0px;
}

.btn {
  border-radius: 100vh;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer
}

.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 350px;
  height: 30px;
  margin: 0px 400px;
  border-radius: 5px;
  padding: 4px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.image_form{
  display: none;
}

//レシピ詳細ページ
.recipe_title {
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.main_in_page2 {
  margin: 13px 244px;
  display: flex;
}

.main_left {
  text-align: center;
}

.main_left2 {
  padding: 10px;
}

.main_right {
  display:flex;
  flex-flow: column;
  height: 678px;
  width: 100%;
  padding: 0px 50px;
}

.process_block {
  padding:1em;
  margin:0.5em auto;
  height: 226px;
}

//コメント部分
.comment_block {
  margin: 100px 244px 0px;
  padding: 20px 0px;
}

.comment_main {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.comment_text {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
}

.comment_text:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.userList{
  text-decoration: none !important;
}

//トップページ（recipes/top.html.erb）
.main_background {
  background-image: url("/images/black-bean-close-up-cooked-16407741.png");
  height: 720px;
  width: 100%;
  margin: 0;
  background-size: cover;
}

.main_title {
  text-align: center;
  padding: 200px 0px;
  font-size: 100px;
  font-weight: bold;
}

.title_css {
  text-decoration: none !important;
  color: white;
}

//マイページ
.mypage_main {
  margin: 0 10px;
  display: flex;
  height: 650px;
}

.my_image {
  width: 50%;
  height: 600px;
  text-align: center;
  margin: 25px 50px;
}

.name_follow {
  width: 50%;
  text-align: center;
  margin: 100px 0px;
}

.circle{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: url("/images/マスクグループ 1.png");
  margin: 0px 35px;
}

.my_name {
  height: 250px;
}

.my_follow {
  height: 250px;
}

.top_back_button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}

h3 {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
}

//検索結果表示ページ
.main_search_page {
  width: 100%;
  margin: 0;
  height: 740px;
  background-color:#fdf5e6;
}

.main_in_search_page {
  margin: 0 10px;
  padding: 10px 0px;
}
