/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header h1 {
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  color:aliceblue;
}

.login {
  position:absolute; top:33px; right:33px;
}

.signup {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

.log {
  padding-top: 90px;
}

input[type="email"] {
  width: 80%;
  height: 40px;
  border-radius: 30px;
}

input[type="password"] {
  width: 80%;
  height: 40px;
  border-radius: 30px;
}

.email {
  padding-bottom: 50px;
}

.password {
  padding-bottom: 50px;
}

.actions {
  padding-top: 50px;
}

input[type="submit"] {
  border-radius: 30px;
  margin-top: 50px;
  width: 80%;
  height: 40px;
  /* background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
  background: #D9E5FF;
  color: #7B3CFF;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.remember {
  padding-top: 20px;
}

.forgot {
  margin: 50px auto;
}
