/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body {
  width: 100%;
  margin: 0px auto;
  background-color:#fdf5e6;
}

//ヘッダー
header {
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  color:aliceblue;
  width: 100%;
  height: 62px;
}

header h1 {
  width: 287px;
  height: 37px;
  padding-left: 10px;
}

//ログイン＆ユーザー登録ボタン
.login {
  position:absolute; top:20px; right:25px;
  color: black;
}

.login:hover {
  cursor: pointer;
}

//ハンバーガーメニュー
.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}

.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.nav {
  position: fixed;
  top: 3rem;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

ul {
  list-style:none
}

li.nav_menu_li {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 0px;
}

li.nav_menu_li:hover {
  opacity: 0.4;
}

//ユーザー新規登録画面
.signup {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

.log {
  padding-top: 90px;
}

input[type="email"],input[type="password"],input[type="text"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
}

.email,.password,.actions {
  padding-bottom: 50px;
}

.actions {
  padding-top: 50px;
}

//パスワードはお忘れですかボタン
.forgot {
  margin: 50px auto;
}

//メインページ(recipe/index.html.erb）、レシピ詳細ページ（recipe/show.html.erb）
.main_page {
  width: 100%;
  margin: 0;
  height: auto;
  background-color:#fdf5e6;
}

.main_in_page {
  margin: 0 10px;
  padding-bottom: 10px;
}

.container {
  text-align: center;
  padding: 0px 20px;
}

.favorite_main_content {
  display: flex;
  flex-wrap: wrap;
}

//カードデザイン
.card {
  width: 210px;
  height: auto;
  margin: 5px 5px;
}

.card:hover {
  opacity: 0.8;
}

.card__imgframe{
  width: 100%;
  height: auto;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.recipe_username {
  font-size: 15px;
  margin: 10px 0px;
  color: #3399FF;
  padding: 2px 0px;
}

.recipe_edit_delete_link {
  text-align: center;
  font-size: 18px;
}

.recipe_edit,.recipe_delete {
  padding: 0px 10px;
}

.recipe_edit:hover,.recipe_delete:hover {
  opacity: 0.4;
}

.new_recipe {
  margin: 50px 100px;
}

.new_path_button {
  border-radius: 100vh;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer
}

.search_form {
  text-align: center;
  padding: 10px 0px;
}

.search_block {
  width: 100%;
  font-size: 20px;
  padding: 0 6px;
  color: #474747;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search_form button[type=submit] {
font-size: 25px;
width: 30px;
color: #FFF;
background: #474747;
border: 2px solid #474747;
border-radius: 0 3px 3px 0;
cursor: pointer;
}

//カルーセル
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
}

// /*********** ここまでベースCSS・リセットCSS ***********/
.carousel {
  width: 100%;
  height: calc(600px * 0.5625);
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-area {
  /* リスト数×リスト幅を計算してwidth指定してもいいが、汎用性を考慮してjQueryで計算代入する */
  height: 100%;
  position: absolute;
  display: flex;
}
// /* object-fitを使用せずに画像トリミングさせるためにbackgroundで指定 */
.carousel-list {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// /*********** スライド送りボタン ***********/
// /* 共有パーツ */
.arow-wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(113, 135, 245, 0.8);
  border-radius: 50%;
  transition: .2s;
}
.arrow-btn:focus {
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}
.arrow-btn:hover {
  background-color: rgb(51, 79, 216);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}
/* 左 */
.arrow-left {
  position: relative
}
.arrow-left:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%)rotate(-45deg);
}
/* 右 */
.arrow-right {
  position: relative
}
.arrow-right:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%)rotate(135deg);
}
//recipe/newアクションページ
.recipe_new_title {
  font-size: 30px;
  margin: 18px 50px 5px;
}

.main {
  text-align: center;
  margin: 0px 140px;
  width: 1100px;
}

.main_procedure {
  padding: 18px 0px;
}

.sub_process {
  padding: 20px 0px;
}

.new_button {
  padding: 15px 0px;
}

.btn {
  border-radius: 100vh;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer
}

.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 350px;
  height: 30px;
  margin: 0px 400px;
  border-radius: 5px;
  padding: 4px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.image_form{
  display: none;
}

//レシピ詳細ページ
.recipe_title {
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.main_in_page2 {
  margin: 13px 244px;
  display: flex;
}

.main_left {
  text-align: center;
}

.main_left2 {
  padding: 10px;
}

.main_right {
  display:flex;
  flex-flow: column;
  height: 678px;
  width: 100%;
  padding: 0px 50px;
}

.process_block {
  padding:1em;
  margin:0.5em auto;
  height: 226px;
}

//コメント部分
.comment_block {
  margin: 100px 244px 0px;
  padding: 20px 0px;
}

.comment_main {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.comment_text {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
}

.comment_text:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.userList{
  text-decoration: none !important;
}

//トップページ（recipes/top.html.erb）
.main_background {
  background-image: url("/images/black-bean-close-up-cooked-16407741.png");
  height: 720px;
  width: 100%;
  margin: 0;
  background-size: cover;
}

.main_title {
  text-align: center;
  padding: 200px 0px 50px;
  font-size: 100px;
  font-weight: bold;
}

.sub_title {
  text-align: center;
  margin: 0px 300px;
  color: #0000BB;
  background-color: rgba(255, 255, 255, 0.562);
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
}

.title_css {
  text-decoration: none !important;
  color: #0000BB;
  background-color: rgba(255, 255, 255, 0.562);
}

.title_css:hover {
  color: antiquewhite;
}

.sub_image {
  background-image: url("/images/black-bean-close-up-cooked-16407741.png");
  height: 760px;
  width: 100%;
  margin: 0;
  // opacity: 0.4;
  background-size: cover;
}

.main_explain {
  text-align: center;
  // margin: 0px 200px;
  padding: 250px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: #0000BB;
  background-color: rgba(255, 255, 255, 0.562);
}

//マイページ
.mypage_main {
  margin: 0 10px;
  display: flex;
  height: 650px;
}

.my_image {
  width: 50%;
  height: 600px;
  text-align: center;
  margin: 25px 50px;
}

.name_follow {
  width: 50%;
  text-align: center;
  margin: 100px 0px;
}

.circle{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: url("/images/マスクグループ 1.png");
  margin: 0px 35px;
}

.my_name {
  height: 250px;
}

.my_follow {
  height: 250px;
}

.top_back_button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}

h3 {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
}

//検索結果表示ページ
.main_search_page {
  width: 100%;
  margin: 0;
  height: 740px;
  background-color:#fdf5e6;
}

.main_in_search_page {
  margin: 0 10px;
  padding: 10px 0px;
}

.back-to-top {
  right: 0;
  // display: block;
  text-align: right;
  width: 50%;
}

#contents {
  height: 2000px;
  background: linear-gradient(gray, white);
}

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: none;
  width: 40px;
  height: 40px;

  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}
