/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "font-awesome";

body {
  width: 100%;
  margin: 0px auto;
}

//ヘッダー
header {
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  color:aliceblue;
  width: 100%;
  height: 62px;
}

header h1 {
  width: 287px;
  height: 37px;
  padding-left: 10px;
}

//ログイン＆ユーザー登録ボタン
.login {
  position:absolute; top:35px; right:25px;
  color: black;
}

//ユーザー新規登録画面
// .signup {
//   padding-top: 30px;
//   width: 100%;
//   text-align: center;
// }

.log {
  padding-top: 90px;
}

input[type="email"],input[type="password"],input[type="text"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
}

.email,.password,.actions {
  padding-bottom: 50px;
}

.actions {
  padding-top: 50px;
}

//パスワードはお忘れですかボタン
.forgot {
  margin: 50px auto;
}

//メインページ(recipe/index.html.erb）、レシピ詳細ページ（recipe/show.html.erb）
.main_page {
  width: 100%;
  margin: 0;
}

.main_in_page {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

//カードデザイン
.card{
  width: 288px;
  height: auto;
}

.card__imgframe{
  width: 100%;
  height: auto;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.new_recipe {
  text-align: center;
  margin: 100px 600px 35px;
}

.search_form {
  text-align: center;
  margin: 30px 0px;
}

.search_block {
  width: 100%;
  font-size: 20px;
  padding: 0 6px;
  color: #474747;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search_form button[type=submit] {
font-size: 17px;
color: #FFF;
background: #474747;
border: 2px solid #474747;
border-radius: 0 3px 3px 0;
cursor: pointer;
}

//recipe/newアクションページ
.main {
  text-align: center;
  margin: 50px 10%;
  width: 1100px;
}

.main_procedure {
  padding: 30px 0px;
}

.sub_process {
  padding: 30px 0px;
}

// .new_button {
//   padding-top: 80px;
//   position: fixed;
// }

//レシピ詳細ページ
.main_in_page2 {
  margin: 13px 244px;
  display: flex;
  // background-color: blueviolet;
}

// .main_left {
//   // background-color: #E4A972;
// }

// .main_left2 {
//   padding-right: 30px;
// }

.main_right {
  display:flex;
  flex-flow: column;
  height: 678px;
  width: 100%;
  padding: 0px 50px;
}

.process_block {
  padding:1em;
  margin:0.5em auto;
  height: 226px;
}

//コメント部分
.comment_block {
  margin: 100px 244px;
}

.comment_main {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.comment_text {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
}

.comment_text:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.userList{
  text-decoration: none;
}

//トップページ（recipes/top.html.erb）
.main_background {
  background-image: url("/images/black-bean-close-up-cooked-16407741.png");
  height: 700px;
  width: 100%;
  margin: 0;
  background-size: cover;
}

.main_title {
  text-align: center;
  padding: 200px 0px;
  font-size: 100px;
  font-weight: bold;
}

.title_css {
  text-decoration: none;
  color: white;
}
